.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore R project file
*.Rproj

# ignore results files
**/results/*

# ignore data files > 100MB
001.data/all_chromosomes_binary_gzip_attrs.hdf5
001.data/Araport11_GFF3_genes_transposons.201606.gff

# ignore figures
**/figures/*